<div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>
    <div class="container">
            <div *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</div>
            <br>
            <div class="row">
                    <div class="col-md-12">
                        <form>
                             <div class="input-group">
                                <span class="input-group-btn">
                                    <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                        Nova foto
                                    </a>
                                </span>
                                <input #textoProcurado (keyup)='0' class="form-control" placeholder="Filtrar por título da foto">
                            </div> 
                        </form>
                    </div> <!-- fim col-md-12 -->
                </div> <!-- fim row -->
                <br>

        <div class="row">
    
                <painel *ngFor="let foto of fotos | filtraPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
                    <a class="efeito" [routerLink]="['/cadastro', foto._id]">
                        <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
                    </a>
                    <button class="btn form-control btn-danger" (click)="remover(foto)" >Remover</button>
                    
                </painel>
            
        </div> <!-- fim row -->
    </div>